.main-container {
    display: flex;
    height: 500px;

    .dropdown-container {
        position: relative;
        top: 15%;
        left: 15%;

        .dropdown {
            min-width: 30em;
            position: relative;
            margin: 2em;

            .select {
                background: #fff;
                color: #9fa5b5;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px #acaaaa6b solid;
                border-radius: 8px;
                padding: 1em;
                cursor: pointer;
                transition: background 0.3s;
                
                .default-option {
                    border: none;
                    background: #fff;
                    cursor: pointer;
                    color: #9fa5b5;
                    width: 60%;
                }                
            }

            .menu {
                list-style: none;
                padding: 0.2em 0.5em;
                background: #fff;
                border: 1px #acaaaa6b solid;
                box-shadow: 3px 2px 4px 0px rgba(57, 63, 70, 0.08);
                border-radius: 8px;
                color: #9fa5b5;
                position: absolute;
                top: 3em;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
                opacity: 0;;
                display: none;
                transition: 0.2s;
                z-index: 1;
                position: relative;
                top: 6px;

                li {
                    padding: 0.7em 0.5em;
                    margin: 0.3em 0;
                    border-radius: 8px;
                    cursor: pointer;

                    &:hover {
                        background: #e6f6fc;
                    }
                }   
            }
        }
    }
}

.menu-open {
    display: block !important;
    opacity: 1 !important;
    max-height: 270px;
    overflow: auto;
}

